/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color:lightsalmon;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    text-align: left;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .magazine-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .article {
    width: 30%;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .article img {
    max-width: 100%;
    height: auto;
  }
  
  .article h2 {
    margin-top: 10px;
  }
  
  .article p {
    color: #666;
  }
  
  .article a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
  }
  