
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color:lightsalmon ;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  
  .featured {
    margin-bottom: 40px;
  }
  
  .featured-article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .featured-article img {
    max-width: 100%;
    height: auto;
  }
  
  .featured-article h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .featured-article p {
    margin-bottom: 10px;
  }
  
  .featured-article a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
  
  .featured-article a:hover {
    background-color: #555;
  }
  .latest-news a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
  } 
  
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  